
GeminiHoroscope/GeminiHoroscope.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GeminiHoroscope/GeminiHoroscope.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GeminiHoroscope/GeminiHoroscope.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GeminiHoroscope/GeminiHoroscope.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
GeminiHoroscope/GeminiHoroscope.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
